*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body
{   
    /* background-color: #7a7a7a; */
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding: 10px 0 10px 40px;
    background-image: url(../images/boisko.jpg);
    font-size: 50px;
    color: #ffffff;
}
header h2{
    display: flex;
    align-items: center;
}
#time{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}
.left-side{
    background-color: #000000;
    float: left;
    margin-top: 100px;
    margin-left: 30px;
    width: 400px;
    height: 470px;
    padding: 10px;
    border-radius: 0 100px;

}
.right-side{
    background-color: #000000;
    float: left;
    margin-top: 100px;
    margin-left: 55px;
    width: 330px;
    height: 470px;
    padding: 10px;
    border-radius: 100px 0 ;

}
.main
{
    background-color: #bcbcbc;
    width: 1000px;
    overflow: hidden;
    margin-left: 55px;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    word-spacing: 8px;
}
.menu
{
    width: 100%;
    background: #1F2232;
    text-align: center;
    border-top: 2px solid #751b1b;
    border-bottom: 2px solid #751b1b;

}
.active{
    background-color: #ffffff;
}
ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    height: 45px;
    width: 100%;
    line-height: 250%;
    display: inline-block;
}
 
ol a
{
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
ol > li
{
    float: left;
    width: 20%;
    height: 50px;
    border-right: 2px solid #520909;
}
ol > li:hover
{
    background-color: #520909;
}
ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}
ol > li:hover > ul
{
    display: block;
    position: relative;
}
ol > li > ul > li
{
    background-color:#1F2232;
    position: relative;
    z-index: 100;
    border-top: 2px solid #520909;
}

ol > li > ul > li:hover
{
    background-color: #520909;
}
ol > li > ul > li:hover > a
{
    color: #ffffff;
}

.active{
    background-color: #350606;
}
article{
    margin-top: 30px;
    margin-bottom: 20px;
}
article h1{
    text-align: center;
    margin: 0 10% 50px 10%;
    border-bottom: 5px solid rgb(174, 222, 2);
    padding-bottom: 20px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight:900;
    
}
img.left{
    float: left;
    padding: 0 10px 10px 10px;
    border-radius: 40px;
}
article p{
    text-align: justify;
    padding: 0 10px 10px 10px;
    font-size: 19px;
}
img.right{
    float: right;
    padding: 10px 10px 10px 10px;
    border-radius: 40px;
}
.base-main{
    display: flex;
    justify-content: space-around;
}
img.right-bar{
    border-radius: 90px 0 ;
}
img.left-bar{
    border-radius: 0 90px;
}
/*------------------KONTAKT--------------------*/

.container3 {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.kontakt h2{
    text-align: center;
    color: #333;
}

label {
    margin-top: 10px;
    color: #333;
}

input,
textarea {
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


/*-------------------Players------------------------*/
.header4{
    text-align: center;
    margin: 20px 0;
}

.container4{
    width: 80%;
    margin: 0 auto;
    background-color: #1F2232;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.player {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #bcbcbc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.player-photo {
    flex: 0 0 150px;
    height: 150px;
    margin-right: 20px;
    background-color: #7eb821; 
}

.player-description {
    text-align: left;
}

.player-description h3 {
    margin-top: 0;
}

.player-description p {
    margin-top: 5px;
}

/*------------FILMY----------------*/
.header2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header2 h2{
    text-align: center;
}
.img2{
    padding: 15px;
}
.test-block{
    width: 200px;
    height: 100px;
    border: 2 px solid rgba(71,236,30,1);
    backface-visibility: rgba(71,236,30,0.7);
    text-align: center;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: chartreuse;
    
}